$main: #31a47e
$main-dark: #31837e
// $main: #31a4fe
// $main-dark: #3183fe
// $main: #fea431
// $main-dark: #fe8331

$tint1: white
$tint2: #cccccc
$tint3: #b3b3b3
$tint4: #333333
$tint5: #191919
$tint6: black

:root
	accent-color: var(--main, $main)

::selection
	background: var(--main, $main)

.linkStyle, a
	color: var(--main, $main)
	&:hover
		color: var(--main-dark, $main-dark)

header
	background-color: var(--main, $main)
	color: var(--tint1, $tint1)

.container
	background-color: var(--tint1, $tint1)

::-webkit-scrollbar
	&-track
		background: var(--tint1, $tint1)
	&-thumb
		background: var(--main, $main)

button
	background-color: var(--main, $main)
	color: var(--tint1, $tint1)
	&:hover, &:active
		background-color: var(--main-dark, $main-dark)

.inverted
	background-color: var(--tint1, $tint1)
	color: var(--main, $main)
	&:hover, &:active
		background-color: var(--tint2, $tint2)

input
	background-color: var(--tint2, $tint2)
	color: var(--tint6, $tint6)
	border: 1px solid var(--main, $main)
	&::placeholder
		color: var(--tint1, $tint1)

.messageBox
	color: var(--tint6, $tint6)

.loginIcon
	background-color: var(--main, $main)

.loginInput
	color: var(--tint6, $tint6)

.footer, .splash, p
	color: var(--tint6, $tint6)

.sent p
	color: var(--tint1, $tint1)
	background: var(--tint3, $tint3)
.received p
	color: var(--tint1, $tint1)
	background: var(--main, $main)

.username
	color: var(--tint6, $tint6)

.time
	color: var(--tint1, $tint1)
