:root
	--main: #31a47e
	--main-dark: #31837e
	// --main: #31a4fe
	// --main-dark: rgb(49, 131, 254)
	// --main: #fea431
	// --main-dark: #fe8331
	--p: white
	--t1: white
	--t2: #cccccc
	--t3: #b3b3b3
	--t4: black
	
	accent-color: var(--main)
	color: var(--t4)

::selection
	background: var(--main)

.linkStyle, a
	color: var(--main)
	&:hover
		color: var(--main)

header
	background-color: var(--main)
	color: white

.container
	background-color: var(--t1)

::-webkit-scrollbar
	&-track
		background: var(--t1)
	&-thumb
		background: var(--main)

button
	background-color: var(--main)
	color: white
	&:hover, &:active
		background-color: var(--main)

.inverted
	background-color: var(--t1)
	color: var(--main)
	&:hover, &:active
		background-color: var(--t2)

input
	background-color: var(--t2)
	color: var(--t4)
	border: 1px solid var(--main)
	&::placeholder
		color: var(--p)

.messageBox
	color: var(--t4)

.loginIcon
	background-color: var(--main)

.loginInput
	color: var(--t4)

.footer, .splash, p
	color: var(--t4)

.sent p
	color: white
	background: var(--t3)
.received p
	color: white
	background: var(--main)

select
	color: var(--t4)
	background-color: var(--t1)