body
	color: #000000
	background-color: #000000

a
	color: rgb(0,100,200)

a:visited
	color: rgb(0,80,160)


input, button, select, textarea
	border: 1px solid #cccccc

input:disabled
	color: #cccccc

header
	background-color: #31a4fe
	color: white

.container
	background-color: #ffffff

main::-webkit-scrollbar-track
	background: #1e1e24

main::-webkit-scrollbar-thumb
	background: #6649b8

form
	background-color: #cccccc

form button
	background-color: #31a4fe

input
	background: #3a3a3a
	color: white

button
	background-color: #282c34 
	color: white

.login
	background: #1a1520

label
	color: white

p
	color: white

.sent p
	background: #b3b3b3
.received p
	background: #31a4fe

.username
	color: black
	
.time
	color: white

.scroll-button
	color: white

.red
	background: #cc3539