@font-face
	font-family: lexendDeca
	src: url("lexend.woff2") format("woff2")
	font-display: swap

:root
	text-align: center
	font-family: lexendDeca, Arial, sans-serif
	--dark: 100%
	width: 375px
	height: 500px
	overflow: hidden

*
	font-family: inherit
	border: none
	outline: none

body
	margin: 0
	display: flex
	flex-direction: column
	justify-content: center

header
	top: 0
	height: 10vh
	position: fixed
	width: 100%
	display: flex
	align-items: center
	justify-content: center

	img
		left: 0
		position: absolute
		cursor: pointer
		margin: 10px
		&:hover
			opacity: 0.8

::-webkit-scrollbar
	width: 10px
	&-thumb
		border-radius: 50rem

input, select
	border-radius: 50rem

h2
	width: 75%
	text-overflow: ellipsis
	overflow: hidden

button
	cursor: pointer
	font-size: 1rem
	margin: 0.5rem 1rem
	padding: 0 10px
	border-radius: 50rem

.agreement, li
	text-align: left
	font-size: 0.85rem
.agreement
	padding: 0 1.85rem

.scrollable
	overflow: scroll
	height: 93.3vh // dont change or it breaks
	transform: translate(0, 10vh) // not good, but it works well
