$infinity: 50rem

@font-face
	font-family: lexendDeca
	src: url("lexend.woff2") format("woff2")
	font-display: swap

:root
	text-align: center
	font-family: lexendDeca, Arial, sans-serif
	--dark: 100%
	width: 375px
	height: 500px
	overflow: hidden

*
	font-family: inherit
	border: none
	outline: none

body
	margin: 0
	display: flex
	flex-direction: column
	justify-content: center

.linkStyle
	font-size: inherit
	background: none
	padding: 0
	margin: 0
	text-decoration: underline
	&:hover
		background: none

select, input
	border-radius: $infinity

.label p
	font-size: 0.7rem

.loginInput, #messageBox, button, select, input
	padding: 0.4rem
	margin-bottom: 0.5rem
	box-sizing: border-box

.rangeInput
	padding: 0

header
	height: 10vh
	position: fixed
	width: 100%
	display: flex
	align-items: center
	justify-content: center

#container
	min-height: 50vh

::-webkit-scrollbar
	width: 10px
	&-thumb
		border-radius: $infinity

#messages
	margin-top: 10vh
	height: 90vh
	overflow-y: auto
	display: flex
	flex-direction: column

.messageForm
	height: 8vh
	position: fixed
	bottom: 0
	display: flex
	font-size: 1rem

.loginInput, #messageBox
	line-height: 1.5
	font-size: 1rem
	border-radius: $infinity

.loginInput
	text-align: center
	width: 80%
	height: 35px

.joinButton
	margin-top: 0.5rem
	height: 35px

#messageBox
	height: 35px
	padding: 0 0.7rem
	margin-left: 5px
	width: 315px

.send
	cursor: pointer
	width: 35px
	height: 35px
	display: flex
	justify-content: center
	margin: 0 5px

.loginIcon
	position: fixed
	height: 35px
	border-radius: $infinity
	margin-left: 10%

#logo
	margin-top: 6rem
	margin-bottom: 4rem

.headerButton
	position: absolute
	cursor: pointer
	margin: 10px
	&:hover
		opacity: 0.8
.logout
	left: 0
#settings
	right: 0

.loginButton
	position: fixed
	height: 35px
	width: 35px
	padding: 7px
	margin: 0.47rem 10px

#settingsLogin
	right: 0
#helpLogin
	left: 0

.headerText
	width: 75%
	text-overflow: ellipsis
	overflow: hidden

button
	cursor: pointer
	font-size: 1rem
	margin: 0.5rem 1rem
	padding: 0 10px
	border-radius: $infinity

.sent p, .received p
	max-width: 260px
	margin: 4px 0.5rem 0 0.5rem

	line-height: 1rem
	font-size: 0.9rem

	padding: 10px 15px 5px 15px
	border-radius: 20px
	position: relative
	word-wrap: break-word

.sent
	flex-direction: row-reverse
	p
		text-align: right
	.time
		float: right

.received p
	text-align: left

.time
	display: flex
	font-size: 0.5rem
	line-height: 0.6rem

.agreement, li
	text-align: left
	font-size: 0.85rem
.agreement
	padding: 0 1.85rem

.scrollable
	overflow: scroll
	height: 93.3vh
	transform: translate(0, 10vh) // not good, but it works well

#footer
	font-size: 0.7rem
	line-height: 1rem
	margin: 12% 20vw

#splash
	font-size: 0.6rem
	width: 25%
	position: fixed
	right: 12%
	top: 25%
	transform: rotate(-15deg)
	word-wrap: break-word
	cursor: pointer
	user-select: none

.message, .messageText, #messageboxBack
	display: flex
